
@(items: List[String])

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cloriko</title>
    <script src="views.public/javascripts/index.js" type="text/javascript"></script>
</head>

<h1>Cloriko</h1>
<h5>SignIn form</h5>
<form name="signInForm" enctype='application/json'>
    <div>
        <input name = "username" id = "username" value = "username">
    </div>
    <div>
        <input name = "password" id = "password" value = "****">
    </div>
    <div>
        <input type="submit" value="Submit" onclick="SignIn()">
    </div>
</form>
</html>
