
@(items: List[String])

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cloriko</title>
    <script src="public/javascripts/index.js" type="text/javascript"></script>
</head>

<h1>Cloriko</h1>

<script>
function SignIn() {
var username = document.getElementById("username").value;
var password = document.getElementById("password").value;

var postObj = JSON.stringify({
"username": username,
"password": password
});
alert(postObj)
var xhttp = new XMLHttpRequest();   // new HttpRequest instance
xhttp.open("POST", "http://localhost:8080/signIn");
xhttp.setRequestHeader("Content-Type", "application/json");
xhttp.onreadystatechange = function() {
alert(xhttp.status)
console.log(xhttp.status)
if (this.readyState == 4 && this.status == 200) {
console.log(xhttp.responseText);
   window.location = "<b>http://www.something.com/destinationpage</b>";

}
};
xhttp.send(postObj);
}
</script>
<h5>SignIn form</h5>
<form name="signInForm" enctype='application/json'>
    <div>
        <input name = "username" id = "username" value = "username">
    </div>
    <div>
        <input name = "password" id = "password" value = "****">
    </div>
    <div>
        <input type="submit" value="Submit" onclick="SignIn()">
    </div>
</form>
</html>
